.cool-button{
    /* height: 45px; */
    border-radius: 5px;
    border-color: rgb(90, 70, 148);
    background-color: transparent;
    color: white;
    font-size: 36px;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 69px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 22px;
    width: 95%;
}

.coteret{
    color: white;
}

.someText{
    color: white;
    font-size: 22px;
}

.normalBody{
    background-color: rgb(42, 0, 97);
    align-items: center;
    text-align: center;
}

.table-good{
    background-color: blueviolet;
    width: 50px;
}
